@{
    ViewData["Title"] = "Home Page";
}

    
        <br /><br />

        <div class="fh5co-loader"></div>

     

            <!-- NAVEGADOR  -->

            <nav class="fh5co-nav">
                <div class="top">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <p class="num">Teléfono: 3118147446</p>
                                <ul class="fh5co-social">
                                    <li><a href="https://www.facebook.com/empowermentchia/" target="_blank"><i class="icon-facebook"></i></a></li>
                                    <li><a href="https://www.instagram.com/empowermentchia/?hl=es" target="_blank"><i class="icon-instagram"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCF8_9OTx1UR39ZKjnu8pzZQ" target="_blank"><i class="icon-youtube"></i></a></li>
                                    <li>
                                        <a href="https://api.whatsapp.com/send?phone=573118147446&text=Hola
										!%20Quiero%20informaci%C3%B3n!" target="_blank"><strong style="color:#DC1F1F;">Whatsapp</strong></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2">
                                <div id="fh5co-logo"><img src="~/images/logo.png" alt=""></div>
                            </div>
                            <div class="col-xs-10 text-right menu-1">
                                <ul>
                                    <li class="active"><a href="index.php">Inicio</a></li>
                                    <li><a href="#fh5co-trainer">Quienes Somos</a></li>
                                    <li><a href="#fh5co-gallery">Galeria</a></li>
                                    <li><a href="#fh5co-schedule">Horarios</a></li>
                                    <li><a href="#fh5co-started">Agendar Visita</a></li>
                                    <li><a href="#fh5co-pricing">Planes</a></li>
                                    <li><a href="#fh5co-contact">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div><img id="LogoPagina" src="~/images/---logo.png" alt="Logo de la Escuela Empowerment" /></div>
            <div>
                <a href="https://api.whatsapp.com/send?phone=573118147446&text=Hola!%20Quiero%20informaci%C3%B3n!" target="_blank">
                    <img id="Logo2Pagina" src="~/images/Whatsapp.png" alt="Logo de la Escuela Empowerment" />
                </a>
            </div>

            <!-- HEADER  -->

            <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img3.png);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <div class="display-t">
                                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                    <h1>Punto de ajuste para mente y cuerpo </h1>
                                    <!--<a href="videos/1.mp4" class="btn btn-primary popup-vimeo">Ver Video</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- ENTRENAMIENTO  -->

            <div id="fh5co-services" class="fh5co-bg-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center animate-box">
                            <div class="services">
                                <span><img class="img-responsive" src="images/dumbbell.svg" alt=""></span>
                                <h3>Kick Boxing</h3>
                                <p>
                                    Es un sistema que te permite entrenar de una manera dinámica con alta exigencia física, por medio de
                                    combinación de técnicas de boxeo y pateo. Excelente para bajar de peso, tonificar y disminuir el stress. Hacemos parte de ISKA COLOMBIA,
                                    formaciòn profesional para competidores.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center animate-box">
                            <div class="services">
                                <span><img class="img-responsive" src="images/exercise.svg" alt=""></span>
                                <h3>Hapkido</h3>
                                <p>
                                    Club II Won Hapkido, defensa personal tradicional  Coreana. Avalado por The Korea Hapkido Federation.
                                    Manejo de armas, gimnasia acrobática,  llaves, conducciones, inmovilizaciones, técnicas de pateo avanzado,
                                    combate cuerpo a cuerpo, meditación.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center animate-box">
                            <div class="services">
                                <span><img class="img-responsive" src="images/puno.svg" alt=""></span>
                                <h3>SEI</h3>
                                <p>
                                    Sistema Entrenamiento Integrado conjunto de medios de entrenamiento que fusiona la parte física con la parte cognitiva, llevando
                                    el cuerpo a un entrenamiento fuerte sin sobrecargarlo, mejora tu flexibilidad, fuerza, velocidad, resistencia,
                                    equilibrio y coordinación.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- QUIENES SOMOS  -->

            <div id="fh5co-trainer">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Quiénes Somos?</h2>
                            <p>
                                Somos una empresa que ofrece servicios de entrenamiento con seguimiento personalizado. Enfocado a conseguir objetivos específicos
                                para el usuario logrando resultados de manera efectiva y dinámica. Contamos con tres sistemas de entrenamiento enfocados a mejorar tu
                                condición física, permitiendo reconocer tu cuerpo y mejorando tu calidad de vida. <br />"Entrenamos más que tus músculos, desarrollamos tu movimiento".
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 animate-box">
                            <img class="img-responsive" src="images/img_bg_2.png" alt="trainer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- HORARIOS  -->

            <div id="fh5co-schedule" class="fh5co-bg" style="background-image: url(images/fondo_banner.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                            <h2>Horario de Clases</h2>
                            <h4 class="h4Especial">SEI (Sistema Entrenamiento Integrado)</h4>
                            <h4 class="h4Especial">KB (Kick Boxing)</h4>
                            <h4 class="h4Especial">HKD (Hapkido)</h4>
                        </div>
                    </div>

                    <div class="row animate-box">

                        <div class="fh5co-tabs">
                            <ul class="fh5co-tab-nav">
                                <li><a href="#" data-tab="1"><span class="visible-xs">L</span><span class="hidden-xs">Lunes</span></a></li>
                                <li><a href="#" data-tab="2"><span class="visible-xs">Ma</span><span class="hidden-xs">Martes</span></a></li>
                                <li><a href="#" data-tab="3"><span class="visible-xs">Mi</span><span class="hidden-xs">Miércoles</span></a></li>
                                <li><a href="#" data-tab="4"><span class="visible-xs">J</span><span class="hidden-xs">Jueves</span></a></li>

                                <li><a href="#" data-tab="5"><span class="visible-xs">V</span><span class="hidden-xs">Viernes</span></a></li>
                                <li><a href="#" data-tab="6"><span class="visible-xs">S</span><span class="hidden-xs">Sábado</span></a></li>
                                <li class="active"><a href="#" data-tab="7"><span class="visible-xs">D</span><span class="hidden-xs">Domingo</span></a></li>
                            </ul>

                            <!-- Tabs -->
                            <!-- LUNES -->
                            <div class="fh5co-tab-content-wrap">
                                <div class="fh5co-tab-content tab-content " data-tab-content="1">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/sei.png" class="img-responsive" alt=""></span>
                                            <span class="time">5:00 PM - 6:00 PM</span>
                                            <h4>SEI - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">6:00 PM - 7:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 PM - 8:00 PM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 PM - 9:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                    </ul>
                                </div>
                                <!-- MARTES -->
                                <div class="fh5co-tab-content tab-content " data-tab-content="2">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/kh.png" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HKD - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/sei.png" class="img-responsive" alt=""></span>
                                            <span class="time">5:00 PM - 6:00 PM</span>
                                            <h4>SEI - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">6:00 PM - 7:00 PM <br> 8:00 PM - 9:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 PM - 8:00 PM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>

                                    </ul>
                                </div>
                                <!-- MIERCOLES -->
                                <div class="fh5co-tab-content tab-content " data-tab-content="3">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/kh.png" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HKD - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">5:00 PM - 6:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">6:00 PM - 7:00 PM <br> 8:00 PM - 9:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 PM - 8:00 PM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                    </ul>
                                </div>
                                <!-- JUEVES -->
                                <div class="fh5co-tab-content tab-content" data-tab-content="4">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/kh.png" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HKD - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/sei.png" class="img-responsive" alt=""></span>
                                            <span class="time">5:00 PM - 6:00 PM</span>
                                            <h4>SEI - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">6:00 PM - 7:00 PM <br> 8:00 PM - 9:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 PM - 8:00 PM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                    </ul>
                                </div>
                                <!-- VIERNES -->
                                <div class="fh5co-tab-content tab-content" data-tab-content="5">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/kh.png" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HKD - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/sei.png" class="img-responsive" alt=""></span>
                                            <span class="time">5:00 PM - 6:00 PM</span>
                                            <h4>SEI - KB</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">6:00 PM - 7:00 PM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 PM - 8:00 PM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                    </ul>
                                </div>
                                <!-- SABADO -->
                                <div class="fh5co-tab-content tab-content" data-tab-content="6">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                    </ul>
                                </div>
                                <!-- DOMINGO -->
                                <div class="fh5co-tab-content tab-content active" data-tab-content="7">
                                    <ul class="class-schedule">
                                        <li class="text-center">
                                            <span><img src="images/exercise.svg" class="img-responsive" alt=""></span>
                                            <span class="time">7:00 AM - 8:00 AM</span>
                                            <h4>HAPKIDO</h4>
                                        </li>
                                        <li class="text-center">
                                            <span><img src="images/dumbbell.svg" class="img-responsive" alt=""></span>
                                            <span class="time">8:00 AM - 9:00 AM</span>
                                            <h4>KICK BOXING</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PLANES  -->

            <div id="fh5co-pricing">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>Planes Empowerment</h2>
                            <p>Planes de Entrenamiento vigencia 1 mes calendario, las clases no son acumulables y aplican condiciones.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 animate-box">
                            <img class="img-responsive" src="images/Horario.png" alt="trainer">
                        </div>
                    </div>
                </div>
            </div>

            <!-- GALERIA  -->

            <div id="fh5co-gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                            <h2>GALERIA DE IMAGENES</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/2.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <!-- <span>Competencia</span> -->
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/gallery-2.jpg); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Competencia</h2>
                                        </div>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/3.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/gallery-4.jpg); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Maestros</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/gallery-7.jpg); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Competencia</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/gallery-5.jpg); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Competencia</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/4.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- SEGUNDA GALERIA DE IMAGENES -->
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/5.png); ">
                                    <a></a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/6.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/7.png); ">
                                    <a>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/13.png); ">
                                    <a>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/11.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <!--		<span>Web Design</span>
                                        <h2>Two Glas of Juice</h2>    -->
                                        </div>
                                    </a>
                                </li>
                                <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/10.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/9.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Entrenamiento</h2>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- TERCERA GALERIA DE IMAGENES -->
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/12.png); ">
                                    <a></a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/14.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Competencia</h2>
                                        </div>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/19.jpeg); ">
                                    <a>
                                    </a>
                                </li>

                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/16.jpeg); ">
                                    <a>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/17.jpeg); ">
                                    <a>
                                    </a>
                                </li>
                                <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/18.jpeg); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Korea Hapkido</h2>
                                        </div>
                                    </a>
                                </li>
                                <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/galeria/15.png); ">
                                    <a>
                                        <div class="case-studies-summary">
                                            <h2>Competencia</h2>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <!-- GALERIA DE VIDEOS -->
            <div id="fh5co-galleryVideo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                            <h2>GALERIA DE VIDEOS</h2>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">
                                <!--Modal: 1-->
                                <div>
                                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/J3wX6irL8zo"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 2-->
                                <div>
                                    <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RXIU69VcKlw"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 3-->
                                <div>
                                    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qb1irzU6HYg"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 4-->
                                <div>
                                    <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ugKU9uUqV1Q"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>

                                <li alt="video" data-toggle="modal" data-target="#modal1" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/1.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal2" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/2.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal3" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/3.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal4" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/4.png); "></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">
                                <!--Modal: 5-->
                                <div>
                                    <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/O18Q43N8-vc"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 6-->
                                <div>
                                    <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UcfYfV3QiWo"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 7-->
                                <div>
                                    <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2LhJi31v9LA"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 8-->
                                <div>
                                    <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VwjtVMfKvrc"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>

                                <li alt="video" data-toggle="modal" data-target="#modal5" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/5.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal6" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/6.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal7" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/7.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal8" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/8.png); "></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-bottom-padded-md">
                        <div class="col-md-12">
                            <ul id="fh5co-portfolio-list">
                                <!--Modal: 9-->
                                <div>
                                    <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qz7IsNnEc4E"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 10-->
                                <div>
                                    <div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aI5ow-7Za10"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 11-->
                                <div>
                                    <div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PhPjs6PEpK8"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>
                                <!--Modal: 12-->
                                <div>
                                    <div class="modal fade" id="modal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZqXpcB7Bzok"
                                                                allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                                <!--Footer-->
                                                <div class="modal-footer justify-content-center">
                                                    <span class="mr-4">ENTRENAMIENTO</span>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div><!--/.Content-->
                                        </div>
                                    </div><!--Modal: Name-->
                                </div>

                                <li alt="video" data-toggle="modal" data-target="#modal9" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/9.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal10" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/10.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal11" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/11.png); "></li>
                                <li alt="video" data-toggle="modal" data-target="#modal12" class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/videos/12.png); "></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--Testimonios  -->
            <div id="fh5co-testimonial" class="fh5co-bg-section">
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                            <h2>En Familia</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row animate-box">
                                <div class="owl-carousel owl-carousel-fullwidth">
                                    <div class="item">
                                        <div class="testimony-slide active text-center">
                                            <figure>
                                                <img src="images/comentarios/C4.jpg" alt="Comentarios">
                                            </figure>
                                            <span>Gabriel Yesid Sánchez, via <a href="https://www.google.com/maps/place/Empowerment+GYM/4.8623991,-74.0589505,17z/data=!3m1!4b1!4m10!1m2!2m1!1sempowerment!3m6!1s0x0:0x3bbadc64ad159f8b!8m2!3d4.8623985!4d-74.0567619!9m1!1b1" class="twitter" target="_blank">Google</a></span>
                                            <blockquote>
                                                <p>Me gusta mucho el profesionalismo y dedicación del maestro con los alumnos, la ejecución de movimientos y cuidado de las partes del cuerpo a la hora de realizar los diferentes métodos de entrenamiento, las instalaciones y materiales son excelentes. - 5 Estrellas.</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimony-slide active text-center">
                                            <figure>
                                                <img src="images/comentarios/C2.png" alt="Comentarios">
                                            </figure>
                                            <span>Marysol Gutierrez Rodriguez, via <a href="https://www.google.com/maps/place/Empowerment+GYM/4.8623991,-74.0589505,17z/data=!3m1!4b1!4m10!1m2!2m1!1sempowerment!3m6!1s0x0:0x3bbadc64ad159f8b!8m2!3d4.8623985!4d-74.0567619!9m1!1b1" class="twitter" target="_blank">Google</a></span>
                                            <blockquote>
                                                <p>Magnifico lugar de entrenamiento personalizado. Entrenadores VIP. Bella instalacion. Magnificos precios - 5 Estrellas.</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimony-slide active text-center">
                                            <figure>
                                                <img src="images/comentarios/C3.png" alt="Comentarios">
                                            </figure>
                                            <span>Oscar Rodriguez, via <a href="https://www.google.com/maps/place/Empowerment+GYM/4.8623991,-74.0589505,17z/data=!3m1!4b1!4m10!1m2!2m1!1sempowerment!3m6!1s0x0:0x3bbadc64ad159f8b!8m2!3d4.8623985!4d-74.0567619!9m1!1b1" class="twitter" target="_blank">Google</a></span>
                                            <blockquote>
                                                <p>Excelente preparación física y en artes marciales. Los maestros son profesionales, y se preocupan por el progreso de los estudiantes - 5 Estrellas.</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="testimony-slide active text-center">
                                            <figure>
                                                <img src="images/comentarios/C1.png" alt="Comentarios">
                                            </figure>
                                            <span>Erick Preciado, via <a href="https://www.google.com/maps/place/Empowerment+GYM/4.8623991,-74.0589505,17z/data=!3m1!4b1!4m10!1m2!2m1!1sempowerment!3m6!1s0x0:0x3bbadc64ad159f8b!8m2!3d4.8623985!4d-74.0567619!9m1!1b1" class="twitter" target="_blank">Google</a></span>
                                            <blockquote>
                                                <p>Muy buen Servicio - 5 Estrellas.</p>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Agenda tu clase   -->
            <div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/1111.png);">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2>Hoy eres nuestro invitado <br> <span> obtén tu <br><span class="percent">Clase</span> gratis</span></h2>
                        </div>
                    </div>
                    <div class="row animate-box">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <p><a href="#" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">Agendar</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal -->

            <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Bienvenido, Agenda una clase de cortesía</h4>
                        </div>
                        <form id="formAgenda" method="POST">
                            <div class="modal-body">

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="fname">First Name</label> -->
                                        <input type="text" id="fAname" name="nombreA" class="form-control" placeholder="Nombre*" required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="email">Email</label> -->
                                        <input type="text" id="email" name="correoA" class="form-control" placeholder="Correo Electrónico*" required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="message">Message</label> -->
                                        <textarea id="message" name="mensajeA" cols="30" rows="10" class="form-control" placeholder="Mensaje*" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="mensajeAgendar"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-success">Agendar</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- Mapa Google ubicación -->
            <iframe align="middle" class="MapGoogle" src="
	https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7950.92054496447!2d-74.0523453483136!3d4.862270261986573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3bbadc64ad159f8b!2sEmpowerment%20GYM!5e0!3m2!1ses-419!2sco!4v1585960292554!5m2!1ses-419!2sco"
                    width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>


            <!-- Contacto -->

            <div id="fh5co-contact">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 col-md-push-1 animate-box">

                            <div class="fh5co-contact-info">
                                <h3>Información de Contacto</h3>
                                <ul>
                                    <li class="address">Av Pradilla # 7-71 Piso 2 <br> Chía - Cundinamarca</li>
                                    <li class="phone"><a href="tel://1234567920">3118147446</a></li>
                                    <li class="email"><a href="mailto:info@yoursite.com">empowermentbody@gmail.com</a></li>
                                    <li class="url"><a href="http://gettemplates.co">www.empowermentbody.co</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 animate-box">
                            <h3>Datos de contacto</h3>
                            <form id="contactoForm" method="POST">
                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="fname">First Name</label> -->
                                        <input type="text" id="fname" name="nombre" class="form-control" placeholder="Nombre*" required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="email">Email</label> -->
                                        <input type="text" id="email" name="correo" class="form-control" placeholder="Correo Electrónico*" required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="subject">Subject</label> -->
                                        <input type="text" id="subject" name="asunto" class="form-control" placeholder="Asunto*" required>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <!-- <label for="message">Message</label> -->
                                        <textarea id="message" name="mensaje" cols="30" rows="10" class="form-control" placeholder="Mensaje*" required></textarea>
                                    </div>
                                </div>
                                <div id="mensajeResultado"></div>
                                <div class="form-group">
                                    <input type="submit" name="btnEnviar" value="Enviar Mensaje" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gototop js-top">
                <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
            </div>


