/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Colores Pantallas */

.tituloEmpowerment {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif, cursive;
    text-align: center;
}

.tituloContenedor {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif, cursive;
    text-align: center;
}

.tituloTabla {
    color: #444543;
    font-family: Arial, Helvetica, sans-serif, cursive;
    text-align: left;
}


.navEmpowerment {
    background: #000000;
}

/* Personalización Botones */

.btn-negro {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-negro:hover {
    color: #fff;
    background-color: #2f2e2e;
    border-color: #2f2e2e;
}

.btn-gris {
    color: #fff;
    background-color: #2f2e2e;
    border-color: #2f2e2e;
}

.btn-gris:hover {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.btn-naranja {
    color: #fff;
    background-color: #FA775B;
    border-color: #FA775B;
}

.btn-naranja:hover {
    color: #fff;
    background-color: #FC461F;
    border-color: #FC461F;
}

.btn-toro {
    color: #fff;
    background-color: #6b292b;
    border-color: #6b292b;
}

.btn-toro:hover {
    color: #fff;
    background-color: #6b0c0f;
    border-color: #6b0c0f;
}

.panel-empowermentRojo > .panel-heading {
    color: #fff;
    background-color: #6b0c0f;
    border-color: #6b0c0f;
}

.panel-empowermentNegro > .panel-heading {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.panel-body1 {
    color: #000000;
    background-color: #000000;
    border-color: #000000;
}

.panel-body {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.panel-empowermentGris > .panel-heading {
    color: #fff;
    background-color: #444543;
    border-color: #444543;
}
.bordeContenedor {
    border: 1px solid #444543;
    border-radius: 10px;
}

.panel-contenedorDetalle > .panel-heading {
    background: #d4fcbd;
    border: 1px solid #807d7d;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.panel-contenedorDetalle2 > .panel-heading {
    background: #afcde3;
    border: 1px solid #807d7d;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.celdaTabla{
    background: #f62f2f;
    color: #fff;
}

/* Formulario para mostrar detalle */

.encabezado_label {
    background: #444543;
    color: #fff;
    border: 1px solid #807d7d;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
}

.encabezado_label2 {
    background: #afcde3;
    border: 1px solid #807d7d;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
}

.encabezado_input {
    border: 1px solid #807d7d;
    border-radius: 5px;
    font-weight: bold;
    padding: 1px;
    margin: 1px;
    height: 31px;
}


